name: deploy-chrome-extension
on:
  release:
    types: [prereleased]
    branch: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: install curl and jq
        run: sudo apt-get update && sudo apt-get -y install curl jq
      - name: Package extension
        run: git archive -o retain-ext.zip HEAD

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: x64

      - name: Set up Python dependencies
        run: pip install -r deployment_scripts/requirements.txt

      - name: publish Chrome extension to the web store
        run: python deployment_scripts/deploy-chrome-extension.py $RETAIN_EXT_CLIENT_ID $RETAIN_EXT_CLIENT_SECRET $RETAIN_EXT_REFRESH_TOKEN $APP_ID retain-ext.zip
        env:
          RETAIN_EXT_CLIENT_ID: ${{ secrets.RETAIN_EXT_CLIENT_ID }}
          RETAIN_EXT_CLIENT_SECRET: ${{ secrets.RETAIN_EXT_CLIENT_SECRET }}
          RETAIN_EXT_REFRESH_TOKEN: ${{ secrets.RETAIN_EXT_REFRESH_TOKEN }}
          APP_ID: afblekficpcnoabgcdekljjfeekgjddp
